# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Logs
*.log

# MacOS
.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/

# Игнорировать все pickle-файлы
*.pkl